<!DOCTYPE html>
<html>
  <head>
    <title>MyTrello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="bg-red-100 flex flex-col h-screen overflow-hidden">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' if notice %>
      <div class="bg-blue-300 overflow-auto h-full">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
